$lightblue: #eef5ff;
$color: #696bff;
$secondcolor: #60E1E0;
$secondcolorhover: darken($secondcolor, 5%);
$colorhover: darken($color, 5%);
$lightcolor: lighten($color, 25%);
$linkColor: #3297d3;
$black: #23282e;
$lightblack: #32373d;
$lightgray: #ededed;
$backgroundgray: #e3e8ee;
$boxgray: #f5f6f8;
$gray: #eaeaea;
$darkgray: #697386;
$lightred: #fff0f0;
$red: #ff2d38;
$darkred: #c30000;
$green: #4fb268;
$darkgreen: #1ea536;
$yellow: #fff13d;
$darkyellow: #b5b500;

